'name': 'Gemfile'
'scopeName': 'source.ruby.gemfile'
'fileTypes': [
  'Gemfile'
]
'patterns': [
  {
    'include': 'source.ruby'
  }
  {
    'begin': '\\b(?<!\\.|::)(gem|git|git_source|group|platforms|ruby|source)\\b(?![?!])'
    'captures':
     '1':
       'name': 'keyword.other.special-method.ruby.gemfile'
    'end': '$|(?=#|})'
    'name': 'meta.declaration.ruby.gemfile'
    'patterns': [
      {
       'include': '$self'
      }
    ]
  }
]
